<header class="header">
    <div class="menu">
        <div class="menu-fixed">
            <span class="sand-menu"><i></i></span>
            <div class="menu-social">
                <ul>
                    <li class="vk"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    <li class="li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="sk"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-menu js-menu">
            <ul class="js-slide-effect-left">
                <li><a href="#home">Home</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
            <div class="menu-feedback g-border-twain">
                <div class="menu-feedback-item menu-feedback-copy js-slide-effect-left">
                    <p>&copy; 2016 - pashabos.info. All rights reserved.</p>
                </div>
                <div class="menu-feedback-item menu-feedback-contacts js-slide-effect-right">
                    <p><a href="mailto:pashabos19@mail.ru">pashabos19@mail.ru</a></p>
                    <p><a href="tel:+38(066) 64-36-935">+38(066) 64-36-935</a></p>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- .header-->